---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "21",
    description:
      "is the number of subscribers for the average creator on Onlyfans have",

  },
  {
    title: "96%",
    description:
      "of OnlyFans Creators never make more than $3000/month",

  },
  {
    title: "$151",
    description:
      "is the average OnlyFans creator makes per month",

  },
];
---

<ContentSection title="Did You Know..." id="features">
  
  <ul class=" max-w-7xl flex flex-col md:flex-row">
    {
      features.map(({ title, description }) => (
        <li class="flex flex-col  items-center p-4 w-full ">
          <p class="text-4xl font-extrabold text-center text-primary">{title}</p>
          <div class="border-b w-9/12 bg-theme-white  pb-3 md:my-4">

</div>
          <p class="text-base text-center text-offset w-9/12 text-black font-normal">{description}</p>
        </li>
      
      ))
    }
  </ul>
  <Fragment slot="lead" class="">
    ...and we guarantee that <span class="text-primary"> none of them</span> are our clients
  </Fragment>
</ContentSection>
