<section class="formpart w-full h-full" id="form">
  <div data-tf-widget="ikMXl3EF" data-tf-iframe-props="title=Onlyfans Model Accelerator Program Application "
    data-tf-medium="snippet" style={{ "width": "100%", "height": "96vh" }}>
  </div>
  <script is:inline src="//embed.typeform.com/next/embed.js"></script>
</section>